/*******************************
 Index Page CSS
*******************************/

/*--------------
 Navigation Menu
---------------*/

#index .ui.vertical.menu {
    height: 360px;
}

#index .ui.vertical.menu .header.item {
    background: #F5F5F5;
    color: #666666;
    font-weight: normal;
    font-size: 1em;
}

#index .ui.vertical.menu a.sub-link {
    margin: 0 10px;
    color: #333333;
}

#index .ui.vertical.menu a.sub-link:hover {
    color: #2185D0;
}

/*--------------
 Ad Image
---------------*/

#index .ui.ad.image {
    width: 100%;
}

#index .ui.ad.image > img {
    width: 100%;
    min-width: 800px;
    height: 360px;
}

/*--------------
 Header
---------------*/

#index .ui.header {
    font-size: 1em;
    font-weight: normal;
}
