/*******************************
 Signup Page CSS
*******************************/

#signup .ui.grid {
    margin-top: 120px;
    height: 100%;
}

#signup .ui.grid > .column {
    max-width: 360px;
}

#signup .ui.header {
    margin-bottom: 30px;
}
